/*dashboard css*/

body {
    background-color: #f0f0f0;
}
.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.dashboard-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.dashboard-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
}
.dashboard-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.dashboard-card p {
    font-size: 16px;
    color: #555;
}
.dashboard-card .card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dashboard-card .card-content .card-value {
    font-size: 24px;
    font-weight: bold;
}
.dashboard-card .card-content .card-icon {
    font-size: 40px;
    color: #007bff;
}
.dashboard-card .card-content .card-icon i {
    margin-right: 10px;
}

#birthInfoCard {
    background-color: #3b74a9 !important;
}
#birthInfoCard h3 {
    color: #007bff;
}
#birthInfoCard .card-content .card-value {
    color: #0056b3;
}
#birthInfoCard .card-content .card-icon {
    color: #0056b3;
}